.title {
  text-align: center;
  font-size: 75px;
  letter-spacing: 50px;
  margin: 20px auto 60px auto;
  text-indent: 50px;
  background: -webkit-linear-gradient(280deg, #0098d0, #0098d0, #00a2de, #eee);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#vinyl-container {
  font-family: "Noto Sans JP", sans-serif;
  text-align: center;
  color: #0098d0;
  display: grid;
  grid-template-rows: 140px 140px 140px;
  letter-spacing: normal;
}
.vinyl {
  border-radius: 50%;
  margin: auto auto 70px auto;
  background: linear-gradient(
    180deg,
    black,
    black,
    black,
    black,
    gray,
    black,
    black,
    black,
    black
  );
  width: 420px;
  height: 420px;
}
.record-hole {
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
  border-width: 50px;
  border-style: solid;
  border-color: #de1b00;
  margin: auto;
}
#vinyl-title {
  font-size: 45px;
  margin-top: 25px;
  grid-row: 1/2;
}
#track {
  font-size: 20px;
  margin-top: 30px;
  grid-row: 3/4;
}

#vinyl-container:hover {
  animation-name: spin-right-round;
  animation-duration: 2500ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin-right-round {
  100% {
    transform: rotate(360deg);
  }
}
#spin-me {
  text-align: center;
  font-size: 15px;
  margin: auto auto 3rem auto;
  letter-spacing: normal;
}
#main {
  font-family: "Noto Sans JP", monospace;
  background: linear-gradient(170deg, white, 60%, #ffc700, 85%, #ee5300);
}
.content {
  display: grid;
  grid-template-columns: 1.5fr 3.5fr 1.5fr;
  grid-template-areas: "starsL content starsR";
}
#img-and-caption {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  height: auto;
}
#img-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  background: linear-gradient(
    180deg,
    #049bcd,
    #04a4d9,
    #80d6ff,
    #cff0ff,
    transparent
  );
}
#image {
  max-width: 100%;
  height: auto;
  margin-top: 75px;
  border-radius: 10px;
}
@media (max-width: 1000px) {
  #image {
    max-width: 70%;
    height: auto;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }
}
#img-caption {
  text-align: center;
  font-family: monospace;
  font-size: 15px;
}
.text-box {
  grid-area: content;
  align-items: center;
}
#tribute-head {
  margin: -30px auto 75px 0;
}

h3 {
  text-align: left;
  font-size: 50px;
  background: -webkit-linear-gradient(320deg, black, transparent);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
h4 {
  text-align: right;
  margin-top: -20px;
  font-size: 25px;
}
#tribute-info {
  font-family: monospace;
  text-indent: 50px;
  font-size: 20px;
}
h5 {
  margin-top: 100px;
  font-size: 30px;
  text-align: center;
}
#discography {
  font-family: monospace;
  font-size: 20px;
}
.disco-head {
  text-align: left;
}
.starsL {
  background-color: #2dd2be;
  height: 20px;
  width: 20px;
  border-radius: 30%;
  animation-iteration-count: infinite;
  grid-area: starsL;
}
.star-1 {
  margin-top: -20rem;
  margin-left: 60%;
  animation-name: twinkle-1;
  animation-duration: 4s;
  opacity: 0.8;
}
@keyframes twinkle-1 {
  60% {
    transform: scale(2);
    opacity: 0.2;
  }
}
@keyframes twinkle-2 {
  50% {
    transform: scale(1.7);
    opacity: 0.2;
  }
}
.star-2 {
  margin-top: 1rem;
  margin-left: 25%;
  animation-name: twinkle-1;
  animation-duration: 6s;
  opacity: 0.9;
}
.star-3 {
  margin-top: 10rem;
  margin-left: 80%;
  animation-name: twinkle-2;
  animation-duration: 5s;
  opacity: 0.7;
}
.star-4 {
  margin-top: 30rem;
  margin-left: 30%;
  animation-name: twinkle-1;
  animation-duration: 5s;
  opacity: 0.8;
}
.star-5 {
  margin-top: 50rem;
  margin-left: 80%;
  animation-name: twinkle-1;
  animation-duration: 4s;
  opacity: 0.9;
}
.star-6 {
  margin-top: 75rem;
  margin-left: 15%;
  animation-name: twinkle-2;
  animation-duration: 6s;
  opacity: 0.8;
}
.star-7 {
  margin-top: 90rem;
  margin-left: 30%;
  animation-name: twinkle-1;
  animation-duration: 4s;
  opacity: 0.7;
}
.star-8 {
  margin-top: 120rem;
  margin-left: 65%;
  animation-name: twinkle-2;
  animation-duration: 3s;
  opacity: 0.9;
}
.star-9 {
  margin-top: 140rem;
  margin-left: 20%;
  animation-name: twinkle-1;
  animation-duration: 4s;
  opacity: 0.8;
}

.starsR {
  background-color: #2dd2be;
  height: 20px;
  width: 20px;
  border-radius: 30%;
  animation-iteration-count: infinite;
  grid-area: starsR;
}
.star-10 {
  margin-top: -15rem;
  margin-left: 60%;
  animation-name: twinkle-1;
  animation-duration: 4s;
  opacity: 0.8;
}
.star-11 {
  margin-top: 2rem;
  margin-left: 45%;
  animation-name: twinkle-1;
  animation-duration: 6s;
  opacity: 0.8;
}
.star-12 {
  margin-top: 15rem;
  margin-left: 30%;
  animation-name: twinkle-2;
  animation-duration: 5s;
  opacity: 0.8;
}
.star-13 {
  margin-top: 28rem;
  margin-left: 70%;
  animation-name: twinkle-1;
  animation-duration: 5s;
  opacity: 0.8;
}
.star-14 {
  margin-top: 45rem;
  margin-left: 35%;
  animation-name: twinkle-1;
  animation-duration: 4s;
  opacity: 0.8;
}
.star-15 {
  margin-top: 65rem;
  margin-left: 40%;
  animation-name: twinkle-2;
  animation-duration: 6s;
  opacity: 0.8;
}
.star-16 {
  margin-top: 88rem;
  margin-left: 60%;
  animation-name: twinkle-1;
  animation-duration: 4s;
  opacity: 0.8;
}
.star-17 {
  margin-top: 110rem;
  margin-left: 20%;
  animation-name: twinkle-2;
  animation-duration: 3s;
  opacity: 0.8;
}
.star-18 {
  margin-top: 130rem;
  margin-left: 80%;
  animation-name: twinkle-1;
  animation-duration: 4s;
  opacity: 0.8;
}

#external-link-block {
  text-align: center;
  font-size: 35px;
  margin: 5% auto 10% auto;
  border-radius: 10px;
  width: auto;
}
